.node {
    border: 1px solid black;
    width: 50px;
}

#nodes > div > div {
    background-color: var(--node);
    box-shadow: 2px 2px 2px var(--gray);
}

@media only screen and (min-width: 768px) {
    .node {
        width: 50px;
    }
}

@media only screen and (min-width: 992px) {
    .node {
        width: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .node {
        width: 70px;
    }
}

@media only screen and (min-width: 1400px) {
    .node {
        width: 80px;
    }
}

.animation-container {
    height: 50px;
}
