@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/images/favicon.png" alt="site-logo" />
                    DSAguides
                </a>
                <button class="navbar-toggler" @onclick="NavbarToggle" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="@NavbarCollapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" @onclick="DataStructureDropDownToggle" href="/">
                                Data Structures
                            </a>
                            <ul class="dropdown-menu @DataStructureCollapse">
                                <li>
                                    <a class="dropdown-item" href="/">Array</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/">List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" @onclick="AlgorithmDropDownToggle" href="/">
                                Algorithms
                            </a>
                            <ul class="dropdown-menu @AlgorithmCollapse">
                                <li>
                                    <a class="dropdown-item" href="/">Array</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/">List</a>
                                </li>
                            </ul>
                        </li>
                    </ul>    
                </div>
            </div>
        </nav>

        <div class="content px-4">
            @Body
        </div>
    </main>
</div>

@code {
    public string NavbarCollapse
    {
        get => _navbarCollapsed ? "collapse" : "";
    }
    public string DataStructureCollapse
    {
        get => _dataStructureCollapsed ? "" : "show";
    }
    public string AlgorithmCollapse
    {
        get => _algorithmCollapsed ? "" : "show";
    }

    bool _navbarCollapsed = true;
    bool _dataStructureCollapsed = true;
    bool _algorithmCollapsed = true;

    void NavbarToggle()
    {
        _navbarCollapsed = _navbarCollapsed ? false : true;
    }

    void DataStructureDropDownToggle()
    {
        _dataStructureCollapsed = _dataStructureCollapsed ? false : true;
    }

    void AlgorithmDropDownToggle()
    {
        _algorithmCollapsed = _algorithmCollapsed ? false : true;
    }
}
